Repository uramirez8707/FMS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wrongkindofdoctor, @thomas-robinson, @bensonr, @underwoo, @uramirez8707, @mlee03, @ngs333, @GFDL-Eric

Hack because pgi is for crazy people
  fms2_io/include/register_global_attribute.inc
  fms2_io/include/register_variable_attribute.inc
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr

Adds fms2io's version of get/set filename appendix
  coupler/ensemble_manager.F90
  diag_manager/diag_util.F90
  fms2_io/fms2_io.F90
  fms2_io/fms_io_utils.F90
  fms2_io/netcdf_io.F90
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr, @underwoo, @ngs333

Modifies the test_global_att to test multiple netcdf file types, and to correctly test int64
  test_fms/fms2_io/atmosphere_restart_file_test.inc
  test_fms/fms2_io/land_unstructured_restart_file_test.inc
  test_fms/fms2_io/ocean_restart_file_test.inc
  test_fms/fms2_io/test_atmosphere_io.F90
  test_fms/fms2_io/test_atmosphere_io.sh
  test_fms/fms2_io/test_global_att.F90
  test_fms/fms2_io/test_global_att.sh
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor

Improves(?) error messages
  fms2_io/include/netcdf_write_data.inc
  fms2_io/include/register_global_attribute.inc
  fms2_io/include/register_variable_attribute.inc
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr

debug attempt in travis
  test_fms/fms2_io/test_global_att.sh
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor

Debug attempt 2
  test_fms/fms2_io/test_global_att.sh
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor

Gets the unit tests to pass
  test_fms/fms2_io/test_atmosphere_io.sh
  test_fms/fms2_io/test_fms2_io.sh
  test_fms/fms2_io/test_global_att.sh
  test_fms/fms2_io/test_io_simple.sh
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor

debug attempt 3
  test_fms/fms2_io/test_global_att.sh
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor

debug attempt 4
  test_fms/fms2_io/test_global_att.F90
  test_fms/fms2_io/test_global_att.sh
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor

debug attempt 5
  test_fms/fms2_io/test_global_att.F90
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor

Adds test to check answer changes
  input.nml
  test_fms/data_override/data_table
  test_fms/data_override/test_data_override2.sh
  test_fms/data_override/test_data_override_ongrid.F90
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr, @GFDL-Eric

Revert "Hack because pgi is for crazy people"
  fms2_io/include/register_global_attribute.inc
  fms2_io/include/register_variable_attribute.inc
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr

Fixes in coupler's makefile.am and in netcdf_add_restart_variable.inc
  coupler/Makefile.am
  fms2_io/include/netcdf_add_restart_variable.inc
Owners: @underwoo, @uramirez8707, @wrongkindofdoctor, @thomas-robinson, @bensonr

changes to test_bc_restart.F90
  test_fms/fms2_io/test_bc_restart.F90
Owners: @uramirez8707, @mlee03, @underwoo, @bensonr, @thomas-robinson, @wrongkindofdoctor

Set the broadcasts correctly
  fms2_io/include/scatter_data_bc.inc
  test_fms/fms2_io/test_bc_restart.F90
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr, @uramirez8707, @mlee03, @underwoo

Removes a print statement
  fms2_io/include/scatter_data_bc.inc
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr

Add some needed deallocates
  fms2_io/netcdf_io.F90
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr

Adds test to check memory leak
  interpolator/interpolator.F90
  test_fms/interpolator/Makefile.am
  test_fms/interpolator/test_inter_slices.F90
Owners: @wrongkindofdoctor, @thomas-robinson, @bensonr, @uramirez8707, @mlee03, @underwoo

.github/CODEOWNERS:

#***********************************************************************
#*                   GNU Lesser General Public License
#*
#* This file is part of the GFDL Flexible Modeling System (FMS).
#*
#* FMS is free software: you can redistribute it and/or modify it under
#* the terms of the GNU Lesser General Public License as published by
#* the Free Software Foundation, either version 3 of the License, or (at
#* your option) any later version.
#*
#* FMS is distributed in the hope that it will be useful, but WITHOUT
#* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
#* for more details.
#*
#* You should have received a copy of the GNU Lesser General Public
#* License along with FMS.  If not, see <http://www.gnu.org/licenses/>.
#***********************************************************************
#
# Each line is a file pattern followed by one or more owners.  The owner
# can be specified by their @username, or an email address.
#
# Order is important.  The last matching pattern takes the most precedence.

# These owners will be the default owners for all the files in the
# repository.  Unless a later match is found, these owners
# will be requested for a review when a PR is opened.
*          @wrongkindofdoctor @thomas-robinson @bensonr 

# GNU autotools files
Makefile.am      @underwoo @uramirez8707
/configure.ac    @underwoo @uramirez8707
/m4/             @underwoo @uramirez8707
*.m4             @underwoo @uramirez8707

# cmake files
CM*              @mlee03 @ngs333
cmake            @mlee03 @ngs333

# Files specific to GitHub or GitLab
/.github/        @underwoo @GFDL-Eric
/.gitlab/        @underwoo @GFDL-Eric

# Testing files
/.gitlab-ci.yml  @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor 
/.travis.yml     @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor
/test_fms/       @uramirez8707 @mlee03 @underwoo @bensonr @thomas-robinson @wrongkindofdoctor

# Specific component directories
/affinity/          @bensonr
/test_fms/affinity/ @bensonr @thomas-robinson

/block_control/          @bensonr
/test_fms/block_control/ @bensonr @thomas-robinson

/data_override/          @GFDL-Eric
/test_fms/data_override/ @GFDL-Eric @thomas-robinson

/diag_manager            @thomas-robinson @underwoo @ngs333
/test_fms/diag_manager/  @thomas-robinson @underwoo @ngs333

/fv3gfs/          @bensonr

/fms/             @wrongkindofdoctor @thomas-robinson
/test_fms/fms/    @wrongkindofdoctor @thomas-robinson
/fms2/            @uramirez8707 @GFDL-Eric
/test_fms/fms2/   @uramirez8707 @GFDL-Eric

/libFMS/           @underwoo @thomas-robinson

/mpp/              @wrongkindofdoctor @thomas-robinson @bensonr
/test_fms/mpp/     @wrongkindofdoctor @thomas-robinson @bensonr
